<div class="dropdown pull-right">
    <button id="dLabel" class="exl-dropdown-button" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <ul class="dropdown-menu pull-left" aria-labelledby="dLabel">
        <li>
            <button class="exl-dropdown-item exl-quote-message">
                Quote message
            </button>
        </li>
        <li>
            <button data-ng-click="message.isVisible = false"
                    class="exl-dropdown-item">
                Hide message
            </button>
        </li>
        <li>
            <button class="exl-dropdown-item exl-hide-all-user-messages">
                Hide all messages of this user
            </button>
        </li>
    </ul>
</div>